body {
    font-family: proxima-nova, sans-serif;
}

.line {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    border: 1px solid #eeeeee;
    height: 2.25rem;
    width: 19.25rem;
    padding: 0.25rem;
    align-items: center;
    justify-content: left;
}

.ball {
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #cccccc;
    border-radius: 1rem;
    color: #000;
}

.ball:hover {
    background: #bbb;
    transition: background 0.3s ease;
}

.ball.selected {
    background: #aaa;    
}

.numPicker {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10rem;
}

.numPicker-selected {
    width: 100%;
    /* height: 5rem; */
    background-color: #f2f2f2;
    padding: 1rem, 0.5rem;
    display: flex;
    justify-content: center;
}

.numPicker-picker {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    padding: 1rem;    
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 0.25rem;
}

/* target classes */
.t-edit {

}